.about{
	padding: 46px 15px;
	width: 320px;
	background-color: #F4F5F7;
	@include desk(){
		width: 100%;
		padding: 77px 130px 76px 130px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		background: #F4F5F7;
	}
}


.article{
	.article:last-child{
	margin-top: 20px;
	@include desk(){
		width: 555px;
		margin: 0;
	}
	
}
	
	
	&__title{
		font-weight: 700;
		font-size: 22px;
		line-height: 32px;
		margin: 0;
		color:$main-color;
	}
	&__text{
		
		font-size: 22px;
		line-height: 32px;
		margin: 0;
		margin-top: 6px;
	}
}