 .header{
	width: 1140px;
	height: 62px;
	margin:auto;
	display:flex;
	
}
.action-button{
	@include action-btn();
}
.navigation{
	margin-left: auto;
	margin-top: 7px;
	margin-right: 75px;
	&__item{
		color:$main-color;
		text-decoration: none;
		line-height: 25px;
		font-size: 18px;
		margin-right: 50px;
		&_selected{
			font-weight: 700;
		}
	}
	&__item:last-child{
		margin-left:0;
	}
	
	&__arrow{
		background-image:url("./images/Arrow.png");
		display:inline-block;
		height: 5px;
		width: 8px;
		margin-left: 11px;
	}
}

.logo{
	display:flex;
	
	&__text{
		display:flex;
		flex-direction:column;
		justify-content: center;
	}
	
	&__image{
		width: 60px;
		height: 60px;
		margin-right: 15px;
	}
	&__name{
		font-size: 20px;
		line-height: 25px;
		font-weight: 700;
		
	}
	&__description{
		font-size: 18px;
		line-height: 25px;
		color:$main-color;
		opacity: 0.6;
		
	}
	
}
.top-section{
	padding-top:39px;
	background-color:#F3C6BD;
}
.about-company{
	padding-top:44px;
}
.additional-navigation{
	margin-top:60px;
	margin-left: auto;
	display: flex;
	&__list{
		padding: 0;
		margin:0;
		
		list-style: none;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 30px;
		color: rgba(43, 41, 45, 0.6);
		
	}
	&__column{
		margin-right: 29px;
	}
	&__title{
		margin: 0;
		margin-bottom:18px;
		font-weight: 700;
		font-size: 22px;
		line-height: 28px;
		color: $main-color;
	}
}
.nav-links{
	width: 265px;
}