@import "variables.scss";
@import "header.scss";
@import "footer";
@import "headline.scss";
@import "mixin.scss";
@import "about.scss";
@import "customers.scss";
*{
	box-sizing: border-box;
}

html{
	font-size: 16px;
	font-family:"Work Sans" ,sans-serif;
}
.page{
	width: 1400px;
	margin:auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
