@mixin start-btn {
  width: 160px;
  height: 48px;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: $blue-color;
  cursor: pointer;
}
@mixin learn-btn {
  width: 158px;
  height: 48px;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 700;
  background-color: #fff;
  color: $blue-color;
  cursor: pointer;
}

@mixin desk() {
  @media screen and (min-width: 1400px) {
    @content;
  }
}
